#ignore these files
.git/
**/.git/
.gradle/
.idea/
.coverage
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
ea_helper_functions/
**/ea_helper_functions/
bin/
conf/
cover/
htmlcov/
lib/
log/
model/
out/
target/
**/data/
data/
build
model.tar.gz
*.iml
*.zip
